{$APP_DOMAIN} {
	encode zstd gzip

	@backend path /api/* /healthz/ /i18n/* {$ADMIN_PATH:/admin/*} /static/*
	reverse_proxy @backend api:8000

	handle_path /media/* {
		root * /srv/media
		file_server
	}

	handle {
		reverse_proxy frontend:3000
	}
}
